{% extends "base.html" %}

{% block content %}
    <h1>{{ form.disp_title.data }}</h1>
    <div class="mx-1 shadow-5-strong border border-white rounded" style="width: 410px">
      <form class="mx-auto ms-3" name="form" action="" method="post">
        {{ form.hidden_tag() }}
        <p>
          {{ form.name.label }}<br>
          {{ form.name(size=25) }}
          {% for error in form.name.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ form.id.label }}<br>
          {{ form.id(size=18) }}
          {% for error in form.id.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>{{ form.has_pwm.label }}:  <span class="ms-2">{{ form.has_pwm }}</span><br></p>
        <p>{{ form.pwm_channel.label }} <span class="ms-2">{{ form.pwm_channel }}</span><br></p>
        <p>{{ form.has_swtch.label }}:  <span class="ms-2">{{ form.has_swtch }}</span><br></p>
        <p>
          {{ form.swtch_pin.label }}<br>
          {{ form.swtch_pin(size=2) }}
          {% for error in form.swtch_pin.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>{{ form.cancel }} <span class="ms-1">{{ form.save }}</span></p>
    </form>
    </div>
 
{% endblock %}