{% extends "base.html" %}

{% block content %}
    <h1>Fans</h1>
    <div class="container">
        <div class="row">
            {% for form in forms %}
            <div class="col mx-1 shadow-5-strong border border-white rounded" style="max-width: 220px">
                <h2 class="ms-1">{{ form.name.data }}:</h2>
                <form class="mx-auto ms-3" name="{{ form.name.data }}" action="" method="post">
                    {{ form.hidden_tag() }}
                    <div>{{ form.name }}</div> 
                    <p>
                        {{ form.speed.label }}: <span class="speed_display_val">{{ form.speed.data | round }}%</span><br>
                        {{ form.speed(min=20) }}<br>
                        {% for error in form.speed.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                      {{ form.swtch.label }} <span class="ms-3">{{ form.swtch }}</span><br>
                      {% for error in form.swtch.errors %}
                      <span style="color: red;">[{{ error }}]</span>
                      {% endfor %}
                    </p>
                    <p>{{ form.submit }}</p>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>

    <a class="btn btn-primary" href="{{ url_for('fans.newfan') }}" role="button">Add a fan</a>

    <script src="{{url_for('fans.static', filename='fans.js')}}"></script>

{% endblock %}
