{% extends "base.html" %}

{% block content %}
    <h1>New Fan</h1>
    <div class="mx-1 shadow-5-strong border border-white rounded" style="max-width: 400px">
      <form class="mx-auto ms-3" name="newfan_form" action="" method="post">
        {{ newfan_form.hidden_tag() }}
        <p>
          {{ newfan_form.name.label }}<br>
          {{ newfan_form.name(size=10) }}
          {% for error in newfan_form.name.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ newfan_form.serial.label }}<br>
          {{ newfan_form.serial(size=10) }}
          {% for error in newfan_form.serial.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>{{ newfan_form.has_pwm.label }}:  <span class="ms-2">{{ newfan_form.has_pwm }}</span><br></p>
        <p>{{ newfan_form.has_swtch.label }}:  <span class="ms-2">{{ newfan_form.has_swtch }}</span><br></p>
        <p>
          {{ newfan_form.swtch_pin.label }}<br>
          {{ newfan_form.swtch_pin(size=2) }}
          {% for error in newfan_form.swtch_pin.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>
          {{ newfan_form.pwm_pin.label }}<br>
          {{ newfan_form.pwm_pin(size=2) }}
          {% for error in newfan_form.pwm_pin.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </p>
        <p>{{ newfan_form.submit() }}</p>
    </form>
    </div>
 
{% endblock %}