{% extends "base.html" %}

{% block content %}
<h1>Automations</h1>
<div class="container">
  <div class="row row-cols-auto">
    {% for form in forms %}
    <div class="col m-1 shadow-5-strong border border-white rounded">
      <form class="m-2" name="{{ form.name.data }}" action="" method="post">
        {{ form.hidden_tag() }}
        <h2>{{ form.name.data }}:</h2>
        <h5>Temp Sensor: <span>{{ form.temp_sensor_name.data }}</span></h5>
        <h5>Fan: <span>{{ form.fan_name.data }}</span></h5>
        <h5>Automation details:</h5>
        <p>
          {{ form.temp_max.label }}: <span>{{ form.temp_max.data }}</span><br>
          {{ form.temp_min.label }} <span class="ms-3">{{ form.temp_min.data }}</span><br>
          {{ form.enabled.label }} <span>{{ form.enabled }}</span><br>
        </p>
        <p>{{ form.edit }} <span class="ms-1">{{ form.delete }}</span></p>
      </form>
    </div>
    {% endfor %}
  </div>
</div>

<a class="mt-3 btn btn-primary" href="{{ url_for('main.edit_automation')+'?name=_new_' }}" role="button">Add an
  automation</a>

<script src="{{url_for('static', filename='autos.js')}}"></script>

{% endblock %}